.RecipeItem {
    max-width: 100%;
    padding: 24px 8px;
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #D4D4D4;
}

.RecipeItem:last-child {
    border-bottom: none;
}

.RecipeItem-txt {
    width: 100%;
    font-size: 14px;
    padding: 8px;
    line-height: 24px;
}

.RecipeItem-btn {
    margin: 24px 0 0 8px;
    cursor: pointer;
    padding: 8px 24px;
    background-color: #FF5B5A;
    color: #ffffff;
    border: none;
    font-size: 14px;
}